@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: $text-color;
  position: relative;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color-very-light;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

p {
  margin-bottom: $default-padding;

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 400;
}

.fixable {
  background-color: white;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 0;

  .inner {
    width: $page-width;
    min-width: $page-min-width;
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $default-padding $default-padding;
    position: relative;
    overflow: hidden;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      width: 100%;
      min-width: 280px;
      max-width: initial;
      padding: $default-padding-mobile $default-padding-mobile;
    }

    // Tablet and big phones
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
      width: 100%;
      min-width: 768px;
    }

    &.padded {
      padding: $default-big-padding $default-padding;

      // Mobile specific rules
      @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
        padding: $default-big-padding-mobile $default-big-padding-mobile;
      }

      // Tablet and big phones
      @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
        padding: $default-padding $default-padding;
      }
    }

    h1 {
      margin-bottom: $default-padding;
    }
  }
}

.button {
  display: inline-block;
  background-color: $main-color-10;
  padding: $default-padding-3 $default-padding-2;
  color: $text-color-alternative;

  &.light {
    background-color: transparent;
    padding: 0;
    color: $text-color-very-light;
  }

  &.bordered {
    background-color: transparent;
    border: 1px solid $main-color-10;
    color: $main-color-10;
  }

  &:hover {
    background-color: lighten($main-color-10, 10%);
    color: $text-color-alternative;

    &.light {
      background-color: transparent;
      color: $text-color-light;
    }

    &.bordered {
      border-color: transparent;
    }
  }
}

.main-color-0 {
  color: $main-color-0;

  &.darker {
    color: darken($main-color-0, 10%);
  }
}

.main-color-1 {
  color: $main-color-1;

  &.darker {
    color: darken($main-color-1, 10%);
  }
}

.main-color-2 {
  color: $main-color-2;

  &.darker {
    color: darken($main-color-2, 10%);
  }
}

.main-color-3 {
  color: $main-color-3;

  &.darker {
    color: darken($main-color-3, 10%);
  }
}

.main-color-4 {
  color: $main-color-4;

  &.darker {
    color: darken($main-color-4, 10%);
  }
}

.main-color-5 {
  color: $main-color-5;

  &.darker {
    color: darken($main-color-5, 10%);
  }
}

.main-color-6 {
  color: $main-color-6;

  &.darker {
    color: darken($main-color-6, 10%);
  }
}

.main-color-7 {
  color: $main-color-7;

  &.darker {
    color: darken($main-color-7, 10%);
  }
}

.main-color-8 {
  color: $main-color-8;

  &.darker {
    color: darken($main-color-8, 10%);
  }
}

.main-color-9 {
  color: $main-color-9;

  &.darker {
    color: darken($main-color-9, 10%);
  }
}

.main-color-10 {
  color: $main-color-10;

  &.darker {
    color: darken($main-color-10, 10%);
  }
}

#pre-header {
  background-color: lighten($main-color-3, 15%);

  .inner {
    padding: $default-padding-3;
  }

  #languages {
    float: right;
    font-size: 0.7em;

    ul {
      li {
        float: left;
        margin-right: $default-padding-3;

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          text-transform: uppercase;
        }
      }
    }
  }
}

#header {
  background: linear-gradient(to right, $main-color-2, $main-color-1, $main-color-9) no-repeat bottom left;
  background-size: 100% 10px;

  .inner {
    padding-bottom: 40px;

    // Tablet and big phones
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
      padding-top: $default-padding-mobile;
      padding-bottom: calc(#{$default-padding-mobile} + 10px);
    }
  }

  #logo {
    height: 20px;
    float: left;
    overflow: visible;

    img {
      height: 60px;
      margin-top: -25px;
    }

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      width: 100%;
      height: auto;
      text-align: center;

      img {
        height: 50px;
        margin-top: 0;
      }
    }

    // Tablet and big phones
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
      height: auto;
      margin-right: 0;
      float: left;

      img {
        height: 40px;
        margin-top: 0;
      }
    }
  }

  #menu {
    float: right;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      float: left;
      position: absolute;

      &::after {
        color: $main-color-10;
        position: absolute;
        top: 5px;
        font-family: 'boxicons', serif;
        font-size: 3em;
        content: '\edc2';
      }

      &.showed {
        &::after {
          content: '\eef0';
        }
      }
    }

    // Tablet and big phones
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
      float: right;
      margin-top: 15px;
    }

    ul {
      overflow: hidden;

      // Mobile specific rules
      @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
        background-color: white;
        padding-top: $default-padding-mobile;
        display: none;
        position: fixed;
        top: 146px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        overflow-y: auto;
      }

      li {
        float: left;
        margin-right: 60px;

        // Mobile specific rules
        @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
          width: 100%;
          display: block;
          margin: 0;
          padding: $default-padding-mobile;
          font-size: 1.5em;
        }

        // Tablet and big phones
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
          font-size: 1em;
          margin-right: 20px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          a {
            color: $text-color-very-light;
          }
        }

        a {
          font-weight: 300;

          &.active {
            color: $text-color-very-light;
          }
        }
      }
    }

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      &.showed {
        ul {
          display: block;
        }
      }
    }
  }
}

#sub-header {
  background-color: $main-color-10;
  text-align: center;
  color: $text-color-alternative;
}

#body {
}

#pre-footer {
  background-color: lighten($main-color-1, 10%);
  text-align: center;

  h3 {
    font-size: 2.5em;
    margin-bottom: $default-padding;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      font-size: 2em;
    }

    // Tablet and big phones
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
      font-size: 2em;
    }
  }
}

#footer {
  background-color: $main-color-10;
  color: $text-color-alternative;
  font-size: 0.8em;
  line-height: 2.5em;

  a {
    color: $text-color-alternative;

    &:hover {
      color: $text-color-alternative-ligh;
    }
  }

  #footer-logo {
    width: 25%;
    float: left;
    padding-right: $default-padding;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      width: auto;
      float: none;
      text-align: center;
    }

    img {
      width: 160px;
    }
  }

  #footer-menu {
    width: 50%;
    float: left;
    padding-right: $default-padding;
    overflow: hidden;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      width: auto;
      float: none;
      padding-right: 0;
      margin-top: $default-padding-mobile;
    }

    .column {
      width: 50%;
      float: left;

      // Mobile specific rules
      @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  #footer-social {
    width: 25%;
    float: right;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      width: auto;
      float: none;
      margin-top: $default-padding-mobile;

      ul {
        li {
          display: inline-block;
          margin-right: $default-padding-mobile;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  #footer-note {
    margin-top: $default-padding;
    padding-top: $default-padding;
    position: relative;
    float: left;
    border-top: 1px solid rgba(darken($main-color-6, 20%), 0.3);
    line-height: 1.5em;

    .copyright {
      color: darken($main-color-6, 20%);
      padding-right: $default-padding;

      // Mobile specific rules
      @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
        display: block;
        margin-bottom: $default-padding-mobile;
      }

      // Tablet and big phones
      @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
        display: block;
        margin-bottom: $default-padding-mobile;
      }
    }
  }
}
