@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: $text-color;
  position: relative;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color-very-light;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1em;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

p {
  margin-bottom: $default-padding;

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 400;
}

.fixable {
  background-color: white;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 0;

  .inner {
    width: $page-width;
    min-width: $page-min-width;
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $default-padding $default-padding;
    position: relative;
    overflow: hidden;

    &.padded {
      padding: $default-big-padding $default-padding;
    }
  }
}

.button {
  display: inline-block;
  background-color: $main-color-10;
  padding: $default-padding-3 $default-padding-2;
  color: $text-color-alternative;

  &.light {
    background-color: transparent;
    padding: 0;
    color: $text-color-very-light;
  }

  &.bordered {
    background-color: transparent;
    border: 1px solid $main-color-10;
    color: $main-color-10;
  }

  &:hover {
    background-color: lighten($main-color-10, 10%);
    color: $text-color-alternative;

    &.light {
      background-color: transparent;
      color: $text-color-light;
    }
  }
}

#pre-header {
  background-color: lighten($main-color-3, 15%);

  .inner {
    padding: $default-padding-3;
  }

  #languages {
    float: right;
    font-size: 0.7em;

    ul {
      li {
        float: left;
        margin-right: $default-padding-3;

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          text-transform: uppercase;
        }
      }
    }
  }
}

#header {
  background: linear-gradient(to right, $main-color-2, $main-color-1, $main-color-9) no-repeat bottom left;
  background-size: 100% 10px;

  .inner {
    padding-bottom: 40px;
  }

  #logo {
    height: 20px;
    float: left;
    margin-right: 120px;
    overflow: visible;

    img {
      height: 60px;
      margin-top: -25px;
    }
  }

  #menu {
    float: left;

    ul {
      overflow: hidden;

      li {
        float: left;
        margin-right: 60px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          a {
            color: $text-color-very-light;
          }
        }

        a {
          font-weight: 300;
        }
      }
    }
  }
}

#sub-header {
  background-color: $main-color-10;
  text-align: center;
  color: $text-color-alternative;
}

#body {
}

#pre-footer {
  background-color: lighten($main-color-1, 10%);
  text-align: center;

  h3 {
    font-size: 2em;
    margin-bottom: $default-padding;
  }
}

#footer {
  background-color: $main-color-10;
  color: $text-color-alternative;
  font-size: 0.8em;
  line-height: 2.5em;

  a {
    color: $text-color-alternative;

    &:hover {
      color: $text-color-alternative-ligh;
    }
  }

  #footer-logo {
    width: 25%;
    float: left;
    padding-right: $default-padding;

    img {
      width: 160px;
    }
  }

  #footer-menu {
    width: 50%;
    float: left;
    padding-right: $default-padding;
    overflow: hidden;

    .column {
      width: 50%;
      float: left;
    }
  }

  #footer-social {
    width: 25%;
    float: right;
  }

  #footer-note {
    margin-top: $default-padding;
    padding-top: $default-padding;
    position: relative;
    float: left;
    border-top: 1px solid rgba(darken($main-color-6, 20%), 0.3);
    line-height: 1.5em;

    .copyright {
      color: darken($main-color-6, 20%);
      padding-right: $default-padding;
    }
  }
}
