@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-size: 1em;
  font-weight: normal;

  &:hover {
    color: $text-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: $text-color;
}
