h2 {
  font-weight: 400;
  font-size: 3em;
  margin-bottom: $default-padding;
}

h3 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: $default-padding;
}

#promo {
  position: relative;
  overflow: hidden;

  .inner {
    padding-left: 0;
    padding-right: 0;
    #promo-left {
      width: 50%;
      position: absolute;
      left: $default-padding;
      top: 50%;
      transform: translateY(-50%);
    }

    #promo-right {
      width: 35%;
      float: right;
    }

    #promo-box {
      background-color: white;
      width: 100%;
      min-height: 450px;
      padding: $default-padding $default-padding $default-padding;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      img {
        width: calc(100% + #{$default-padding * 2});
        margin-top: -$default-padding;
        margin-left: -$default-padding;
        margin-bottom: $default-padding;
      }
    }
  }
}
