#home-intro {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$default-padding;
  margin-right: -$default-padding;

  h4 {
    margin-bottom: $default-big-padding;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      margin-bottom: $default-padding-mobile;
    }
  }

  .box {
    flex: 1 0 calc(33.29% - #{$default-padding * 2});
    display: flex;
    flex-wrap: wrap;
    margin-left: $default-padding;
    margin-right: $default-padding;
    text-align: left;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      flex: 1 0 100%;
      margin-left: 0;
      margin-right: 0;
      padding: $default-padding-mobile;
    }

    .icon {
      flex: 1 0 30%;
      font-size: 4.5em;
      margin-top: -5px;
    }

    .description {
      flex: 1 0 70%;

      strong {
        display: block;
        margin-bottom: $default-padding-3;
      }
    }
  }
}

#home-show-case {
  background-color: $main-color-0;

  .inner {
    text-align: center;
  }

  #home-products {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: -$default-padding;
    margin-right: -$default-padding;
    margin-top: $default-big-padding;
    margin-bottom: $default-big-padding;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      margin: 0;
    }

    .product {
      background-color: white;
      margin-left: $default-padding;
      margin-right: $default-padding;
      flex: 0 0 calc(50% - #{$default-padding * 2});
      position: relative;
      overflow: hidden;

      // Mobile specific rules
      @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
        width: 100%;
        flex: none;
        margin: 0;
        margin-bottom: $default-big-padding-mobile;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      .image {
        width: 100%;
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;

        // Mobile specific rules
        @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
          height: 150px;
        }

        // Tablet and big phones
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
          height: 200px;
        }

        &.posso-partire {
          background-image: url('../images/products/posso-partire.png');
        }

        &.compact-web-document {
          background-image: url('../images/products/compact-web-document.png');
        }
      }

      .description {
        padding: $default-padding;

        p {
          margin-top: $default-padding-2;
        }
      }
    }
  }
}

#home-main {
}

#home-news {
  background-color: lighten($main-color-6, 18%);

  .inner {
    text-align: center;
  }

  #home-news {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: -$default-padding;
    margin-right: -$default-padding;
    margin-top: $default-big-padding;
    margin-bottom: $default-big-padding;

    // Mobile specific rules
    @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
      margin: 0;
    }

    .news {
      height: 170px;
      background-color: white;
      margin-left: $default-padding;
      margin-right: $default-padding;
      flex: 0 0 calc(50% - #{$default-padding * 2});
      position: relative;
      overflow: hidden;

      // Mobile specific rules
      @media (min-width: 0px) and (max-width: 480px), (min-width: 481px) and (max-width: 768px) {
        width: 100%;
        height: 200px;
        flex: none;
        margin: 0 0 $default-big-padding-mobile;
      }

      // Tablet and big phones
      @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) {
        height: 200px;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      .image {
        width: 30%;
        height: 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: top center;
        float: left;

        &.posso-partire {
          background-image: url('../images/products/posso-partire.png');
        }

        &.compact-web-document {
          background-image: url('../images/products/compact-web-document.png');
        }

        &.crazy-cricket {
          background-size: 100%;
          background-position: center left;
          background-image: url('../images/products/crazy-cricket.webp');
        }

        &.risposta-sbagliata {
          background-image: url('../images/products/risposta-sbagliata.webp');
        }
      }

      .description {
        width: 70%;
        float: right;
        padding: $default-padding;

        p {
          margin-top: $default-padding-2;
        }
      }
    }
  }
}
