#home {
  h4 {
    font-size: 2.5em;
    margin-bottom: $default-padding;
    text-align: center;
  }
}

#promo {
  position: relative;
  overflow: hidden;

  h2 {
    font-size: 3em;
    margin-bottom: $default-padding;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: $default-padding;
  }

  .inner {
    padding-left: 0;
    padding-right: 0;

    #promo-left {
      width: 50%;
      position: absolute;
      left: $default-padding;
      top: 50%;
      transform: translateY(-50%);
    }

    #promo-right {
      width: 35%;
      float: right;
    }

    #promo-box {
      background-color: white;
      width: 100%;
      min-height: 450px;
      padding: $default-padding $default-padding $default-padding;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      img {
        width: calc(100% + #{$default-padding * 2});
        margin-top: -$default-padding;
        margin-left: -$default-padding;
        margin-bottom: $default-padding;
      }
    }
  }
}

#home-intro {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$default-padding;
  margin-right: -$default-padding;

  h4 {
    margin-bottom: $default-big-padding;
  }

  .box {
    flex: 1 0 calc(33.29% - #{$default-padding * 2});
    display: flex;
    flex-wrap: wrap;
    margin-left: $default-padding;
    margin-right: $default-padding;
    text-align: left;
    transition: transform 0.6s ease-out;
    cursor: default;

    &:hover {
      transform: scale(1.05);
    }

    .icon {
      flex: 1 0 30%;
      font-size: 4.5em;
      margin-top: -5px;
    }

    .description {
      flex: 1 0 70%;

      strong {
        display: block;
        margin-bottom: $default-padding-3;
      }
    }
  }
}

#home-show-case {
  background-color: $main-color-0;

  .inner {
    text-align: center;
  }
}

#home-main {
}

#home-news {
  background-color: lighten($main-color-6, 18%);

  .inner {
    text-align: center;
  }
}
