$page-min-width: 1000px;
$page-width: 60%;
$page-max-width: 1200px;
$page-width-smaller: 40%;
$page-min-width-smaller: 500px;

$main-color-0: #E7F8FD;
$main-color-1: #8DDCF5;
$main-color-2: #A98EF5;
$main-color-3: #C1B5C2;
$main-color-4: #F5A68E;
$main-color-5: #F58E99;
$main-color-6: #C7C7C7;
$main-color-7: #AFAFEE;
$main-color-8: #DDF58E;
$main-color-9: #8EF591;
$main-color-10: #042833;

$text-color: #021419;
$text-color-light: lighten($text-color, 10%);
$text-color-very-light: lighten($text-color-light, 20%);
$text-color-alternative: $main-color-0;

$menu-color: $text-color-light;
$menu-color-light: lighten($menu-color, 20%);

$background-basic-color: #DBF8FF;

$default-padding: 30px;
$default-padding-2: 20px;
$default-padding-3: 10px;
