$page-min-width: 800px;
$page-width: 60%;
$page-width-smaller: 40%;
$page-min-width-smaller: 500px;

$text-color: #001D24;
$text-color-light: lighten($text-color, 10%);
$text-color-very-light: lighten($text-color-light, 30%);
$text-color-alternative: #DBF8FF;

$main-color-1: #00CCFF;
$main-color-2: #0066FF;
$main-color-3: #808080;
$main-color-4: #806680;
$main-color-5: #FF3300;
$main-color-6: #949494;
$main-color-7: #51ADC4;
$main-color-8: #CCFF00;

$menu-color: $text-color-light;
$menu-color-light: lighten($menu-color, 20%);

$background-basic-color: #DBF8FF;
