.waves {
  width: 1500px;
  height: 1300px;
  position: absolute;
  top: -200px;
  right: -550px;
  transform: rotate(80deg);
  z-index: 0;

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    border-radius: 92%;

    &.wave-one {
      animation: rotate 14000ms infinite linear;
      opacity: 0.3;
      background-color: $main-color-1;
    }

    &.wave-two {
      animation: rotate 10000ms infinite linear;
      opacity: 0.2;
      background-color: $main-color-2;
    }

    &.wave-three {
      animation: rotate 20000ms infinite linear;
      background-color: $main-color-9;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
